.DS_Store
node_modules/
bower_components/

src/tools/iconfont/dist/
src/tools/iconfont/optimized/

src/tools/svgsprite/dist/
src/tools/svgsprite/optimized/

src/tools/pngsprite/optimized/

src/tools/retinasprite/optimized/
