@keyframes pulse
	0%,100%
		transform translateY(20px)
	50%
		transform translateY(-20px)

$retina = 'only screen and (-webkit-min-device-pixel-ratio: 2)'


*
	margin 0
	padding 0px
	box-sizing border-box

body
	color #ccc
	font-family Tahoma
	background url('/assets/img/bg/bg.png')

	@media $retina
		background url('/assets/img/bg/bg@2x.png')
		background-size 180px 180px

img
	position fixed
	top 50%
	left 50%
	width 114px
	height 257px
	margin-left -57px
	margin-top -128px
	animation pulse 2s infinite
