@import 'config'
@import 'tools/sprite-png'


body
	color #ccc
	background url('/img/bg/bg.png')

img
	position fixed
	top 50%
	left 50%
	width 114px
	height 257px
	margin-left -57px
	margin-top -128px
	animation pulse 2s infinite