// Colors
// =============================================================================
$red = #cf3b32
$blue = #589ae0
$green = #7ed321

$body-color = #fff
$link-color = $blue
$link-hover-color = $red
$placeholder-color = #b8b8b8


// Font
$font-size-default = 14px
$font-color-default = #000
$font-family-default = 'Tahoma', sans-serif
$font-sizes = 5 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
