.png-common
	background-image url('/img/sprite-png/common.png')

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
	.png-common
		background-image url('/img/sprite-png/common-x2.png')
		background-size 159px 179px

.png-common-html
	background-position -5px -5px
	width 149px
	height 169px

