extends root

block body

	.l(ng-controller="AppController as app")

		.l-main

			.l-header
				include ../includes/header

			.l-content
				block content

			.l-footer
				include ../includes/header
