extends root

block body

	.l(ng-app="app")

		.l-main(ng-controller="AppController as app")

			.l-header
				include ../inc/header

			.l-content
				block content

			.l-footer
				include ../inc/header
