include ../base/mixins
extends ../base/layout


block head
	title app
	meta(name='keywords' content='')
	meta(name='description' content='')


block content

	img(src="assets/img/content/gulp.png", alt="")

	//- .i.i-git
	//- .png.png-git
	//- .svg.svg-git