include ../base/mixins
extends ../base/layout-default


block head
	title App
	meta(name='keywords' content='')
	meta(name='description' content='')


block content

	img(src="/assets/img/content/gulp.png")
